<h2>
  <%= @restaurant_name %>  <%= image_tag(image_name(@grade)) %>
</h2>

<h4>
  <%= @restaurant_address %>
  <br>
  <%= number_to_phone(@restaurant_phone) %>
</h4>


<h3>Restaurant Inspections</h3>

<% @inspections_by_date.each do |date, inspections| %>
  <b><%= date %></b>
  <ul class="health_violations">
  <% inspections.each do |inspection| %>
    <li>
      <span><i class="fa fa-times"></i></span>
      <%= inspection.violation_description %>
    </li>
    <br/>
  <% end %>
  </ul>
<% end %>
</div>
<div class="col-lg-3">
  <iframe
    width="350"
    height="350"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBrqNuFD4ApLABKmCN_oBhR1G7HR3XKx7U
      &q=<%= @encoded_address %>">
  </iframe>
</div><!--/span-->
