<h2>
  <%= @restaurant_name %>  <%= image_tag(image_name(@grade)) %>
</h2>

<h4>
  <%= @restaurant_address %>
  <br>
  <%= number_to_phone(@restaurant_phone) %>
</h4>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBcD2eQvZCFmY1Z7AHSElofLzn2H8seStM
    &q=<%= @encoded_address %>">
</iframe>

<h3>Restaurant Inspections</h3>

<% @inspections_by_date.each do |date, inspections| %>
  <b><%= date %></b>
  <ul class="health_violations">
  <% inspections.each do |inspection| %>
    <li>
      <span><i class="fa fa-times"></i></span>
      <%= inspection.violation_description %>
    </li>
    <br/>
  <% end %>
  </ul>
<% end %>
